TIEMPO_DE_REINTENTO_CONEXION=10
TIEMPO_DE_REINTENTO_OPERACION=5
TIEMPO_DE_RETARDO_OPERACION=1
PUNTO_MONTAJE_TALLGRASS=/home/utnso/tp-2020-1c-Programadores-en-Fuga/Gamecard/TALL_GRASS
IP_BROKER=127.0.0.1
PUERTO_BROKER=5002
ID_PROCESO=201
LOG_FILE=/home/utnso/tp-2020-1c-Programadores-en-Fuga/Gamecard/log_Gamecard.txt
PUERTO_GAMECARD=5001