POSICIONES_ENTRENADORES=[2|3,6|5,9|9,9|2,2|9]
POKEMON_ENTRENADORES=[]
OBJETIVOS_ENTRENADORES=[Vaporeon,Jolteon,Flareon,Umbreon,Espeon]
TIEMPO_RECONEXION=600
RETARDO_CICLO_CPU=0
ALGORITMO_PLANIFICACION=SJCD
QUANTUM=2
ESTIMACION_INICIAL=5
IP_BROKER=127.0.0.1
PUERTO_BROKER=5002
LOG_FILE=team.log
PUERTO_TEAM=5003
ID_PROCESO=103